@import url('clash-display.css');
@import url('panchang.css');
@import url('chillax.css');

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 10px;
     scroll-behavior: smooth;
}

* {
     font-family: sans-serif, serif;
     font-weight: 600;
}

h1 {
     font-size: 3rem;
}

body {
     background: #E5DFD2;
     margin: -1.2rem 0 0 0;
}


header {
     background-image: url("../images/1-print-4493\ Mixson\ Ave\ CoastalRE-8.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 70vh;
     margin: 0 auto;
}

.horizontalMenu {
     width: 100%;
     height: fit-content;
     background: #153548;
     padding: 2rem 0;
     margin: 0 auto;
     margin-bottom: 0;
     position: relative;
     margin-top: 1rem;
}

.horizontalMenu .btn {
     width: fit-content;
     position: absolute;
     top: 50%;
     right: 5%;
     transform: translate(0%, -50%);
    }
 
body .horizontalMenu .sticky {
     position: fixed;
     top: 5%;
     right: 5%;
     z-index: 1030;
     opacity: 1 !important;
     transition: opacity 0.5s ;
 }

.horizontalMenu h2{
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     justify-content: center;
     font-family: 'Panchang-Semibold';
     font-size: 4vw;
     color: #E5DFD2;
     width: 100%;
     padding: 0 9rem;
     margin: 0;
}

    .menuButton {
     background: #153548;
     border: none;
     color: white;
     font-size: 2rem;
     cursor: pointer;
     width: fit-content;
     display: flex;
     justify-content: center;
     transition: all .2s ease-in-out;
     border-radius: 50%;
     padding: 1rem;
     z-index: 100;
    }

    .menuButton:hover {
     transform: scale(1.2);
    }

    #openMenu2{
     background: #2A5271;
     margin-bottom: 2.5rem;
     margin-left: -1rem;
    }

    .dropMenu {
     width: 0;
     height: 100vh;
     position: fixed;
     right: 0;
     top: 0;
     background: #2A5271;
     padding-top: 2rem;
     overflow: hidden;
     z-index: 10001;
     transition: all 0.5s ease-in-out;
    }

    .openMenu {
     position: fixed;
     width: 25% !important;
    }

    .dropMenu ul {
     padding: 0;
     width: 100%;
     margin: 0 0 0 2rem;
     list-style: none;
     text-align: left;
    }

    .dropMenu li{
     display: block;
     position: relative;
     width: fit-content;
     margin-bottom: 1rem;
    }

    .dropMenu li::after{
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0); /* Hide initially */
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #ca6c00; /* Choose your desired color */
     transform-origin: bottom right; /* Animation direction */
     transition: transform 0.2s ease-out; /* Transition for smoothness */   
    }

    .dropMenu li:first-child ~ li:hover::after{
     transform: scaleX(1); /* Show on hover */
     transform-origin: bottom left; /* Animation direction on hover */
    }
    
    .dropMenu a {
     text-decoration: none;
     color: white;
     line-height: 3.5rem;
     font-size: 2rem;
     display: inline-block;
     font-family: 'ClashDisplay-Semibold';
     transition: all .2s ease-in-out;
    }

.ourStoryLink{
     width: 100%;
     display: flex;
}
.ourStoryLink div{
     width: 50%;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
     padding: 3rem;
}
div h2{
     display: flex;
     font-family: 'clash-display-Regular';
     font-size: 4rem;
}
div p{
     display: flex;
     font-family: 'clash-display-Regular';
     font-size: 2rem;
}

div img{
     height: 40rem;
     width: fit-content;
}

footer {
     width: 100%;
     height: fit-content;
     padding: 1rem 0;
     background: transparent;
}

footer ul {
     width: 100%;
     display: flex;
     justify-content: center;
     list-style: none;
     padding: 0;
     gap: 1rem;
}

footer a {
     color: white;
     font-size: 2rem;
}

footer p {
     color: white;
     display: flex;
     justify-content: center;
}


.bio p {
     line-height: 1.5rem;
     font-family: 'Chillax-Regular';
     font-size: 1.3rem;
     /* background: #E5DFD2; */
     padding: 2rem ;
}

.about {
     /* background: #4D738A; */
     background: #E5DFD2;
     height: fit-content;
     width: 80%;
     margin: 1rem auto;
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     position: relative;
}

.aboutBackground {
     background: #4D738A;
}

.headshotGrid {
     width: 30%;
     display: flex;
     justify-content: center;
}

.headshot {
     display: flex;
     flex: 0 1 auto;
     margin: 2rem 0;
     cursor: default;
     transition: none;
     transform: none !important;
}

.bio {
     width: 70%;
     height: fit-content;
     margin: 2rem 0;
     padding: 0 2rem;
}

@media all and (max-width: 1250px) {
    .about {
     display: flex;
     flex-direction: column;
    }
    
     .headshotGrid {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
     }

     .headshot {
          display: flex;
          flex: 0 1 auto;
     }
     
     .bio {
          width: 100%;
          margin: 1rem 0;
          padding: 0 2rem;
          display: flex;
          flex-wrap: wrap;
     }
}

.contact {
     width: 80%;
     margin: 0 auto;
}

.submitButton {
     margin-top: 1rem;
}

label {
     display: block;
     margin: 1rem 0 0 0;
}

textarea {
     width: 100%;
     height: 10rem;
     font-family:Arial, Helvetica, sans-serif;
}

button {
     display: block;
}

input {
     font-family:Arial, Helvetica, sans-serif;
     height: 2.5rem;
     width: 50%;
}

img {
     width: auto;
     height: 30rem;
     margin: .5rem;
     cursor: pointer;
     /* transition: all .2s ease-in-out; */
}

img:hover:not(.fullSize) {
     /* transform: scale(1.02); */

     transition: all .2s ease-in-out;
}

.align {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}

#toTop {
     position: fixed;
     bottom: 20px;
     right: 20px;
     text-decoration: none;
     color: white;
     background: black;
     border-radius: 5%;
     padding: 8px;
     z-index: 2;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
