@import url('clash-display.css');
@import url('panchang.css');
@import url('chillax.css');

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 10px;
     scroll-behavior: smooth;
     /* scroll-snap-type: y mandatory; */
}

.section{
     /* scroll-snap-align: start; */
}

* {
     font-family: sans-serif, serif;
     font-weight: 600;
}

h1 {
     font-size: 3rem;
}

body {
     background: #E5DFD2;
     margin: -1.2rem 0 0 0;
}



/* HEADER SECTION */

header {
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/1-print-4493\ Mixson\ Ave\ CoastalRE-8.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 90vh;
     margin: 0 auto;
     padding: 10% 0 10% 10%;
     display: flex;
     flex-flow: column wrap;
     align-items: flex-start;
     justify-content: center;

}

header h1{
     color: #E5DFD2;
     font-size: clamp(3rem, 5vw, 6rem);
     font-family: 'ClashDisplay-Semibold';
     padding-right: 33%;
     margin: 0;
     text-shadow:
     1px 1px 0 #153548,   /* Bottom-right shadow */
     -1px 1px 0 #153548,  /* Bottom-left shadow */
     1px -1px 0 #153548,  /* Top-right shadow */
     -1px -1px 0 #153548; /* Top-left shadow */
}

header h4{
     padding-right: 45%;
     font-size: 1.8vw;
     color: #ca6c00;
     margin: 1rem 0 3rem 0;
     text-shadow:
     1px 1px 0 #153548,   /* Bottom-right shadow */
     -1px 1px 0 #153548,  /* Bottom-left shadow */
     1px -1px 0 #153548,  /* Top-right shadow */
     -1px -1px 0 #153548; /* Top-left shadow */
}

header button{
     padding: 1.5rem 2.25rem;
     color: #153548;
     background-color: #E5DFD2;
     border: #153548 2px solid;
     border-radius: 20px;
     cursor: pointer;
     transition: all 0.2s;
     font-size: 1.5rem;
     font-family: 'ClashDisplay-Semibold';
     margin: 4rem 0 0 0;
}

header button:hover{
     border: #ca6c00 2px solid;
     color: #ca6c00;
     scale: 1.05;
}

/* VERTICAL MENU SECTION */

.horizontalMenu {
     width: 100%;
     height: fit-content;
     background: #153548;
     padding: 1rem 0;
     margin: 0 auto;
     margin-bottom: 0;
     position: relative;
     margin-top: 1rem;
}

.horizontalMenu .btn {
     width: fit-content;
     position: absolute;
     top: 50%;
     right: 5%;
     transform: translate(0%, -50%);
    }
 
body .horizontalMenu .sticky {
     position: fixed;
     top: 5%;
     right: 5%;
     z-index: 1030;
     opacity: 1 !important;
     transition: opacity 0.5s ;
 }

.horizontalMenu a{
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     justify-content: center;
     font-family: 'Panchang-Semibold';
     font-size: 4vw;
     color: #E5DFD2;
     width: 100%;
     padding: 0 9rem;
     margin: 0;
     text-decoration: none;
}

.horizontalMenu h2{
     margin: 0;
}

    .menuButton {
     background: #153548;
     border: none;
     color: white;
     font-size: 2rem;
     cursor: pointer;
     width: fit-content;
     display: flex;
     justify-content: center;
     transition: all .2s ease-in-out;
     border-radius: 50%;
     padding: 1rem;
     z-index: 100;
    }

    .menuButton:hover {
     transform: scale(1.2);
    }

    #openMenu2{
     background: #153548;
     margin-bottom: 2.5rem;
     margin-left: -1rem;
    }

    .dropMenu {
     width: 0;
     height: 100vh;
     position: fixed;
     right: -4px;
     top: 0;
     background: #153548;
     padding-top: 2rem;
     overflow: hidden;
     z-index: 10001;
     transition: all 0.5s ease-in-out;
     border-left: 4px solid #E5DFD2;
    }

    .openMenu {
     position: fixed;
     width: 25% !important;
    }

    .dropMenu ul {
     padding: 0;
     width: 100%;
     margin: 0 0 0 2rem;
     list-style: none;
     text-align: left;
    }

    .dropMenu li{
     display: block;
     position: relative;
     width: fit-content;
     margin-bottom: 1rem;
    }

    .dropMenu li::after{
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0); /* Hide initially */
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #ca6c00; /* Choose your desired color */
     transform-origin: bottom right; /* Animation direction */
     transition: transform 0.2s ease-out; /* Transition for smoothness */   
    }

    .dropMenu li:first-child ~ li:hover::after{
     transform: scaleX(1); /* Show on hover */
     transform-origin: bottom left; /* Animation direction on hover */
    }
    
    .dropMenu a {
     text-decoration: none;
     color: white;
     line-height: 3.5rem;
     font-size: 2rem;
     display: inline-block;
     font-family: 'ClashDisplay-Semibold';
     transition: all .2s ease-in-out;
    }

/* OUR STORY SECTION */

.ourStoryLink{
     width: 100%;
     display: flex;
}
.ourStoryLink div{
     width: 50%;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
     padding: 3rem;
}
h2{
     font-family: 'clash-display-Regular';
     font-size: 4rem;
     margin: 3rem 0;
}
div p{
     font-family: 'clash-display-Regular';
     font-size: 2rem;
     margin: 0 0 3rem 0;
     line-height: 2.5rem;
}

div img{
     height: auto;
     width: 100%;
}

span{
     font-family: 'clash-display-Regular'; 
     color: #ca6c00;
}

section button{
     padding: 1.75rem 3rem;
     background-color: transparent;
     border: #153548 2px solid;
     border-radius: 20px;
     cursor: pointer;
     transition: all 0.2s;
     /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); */
}

section button:hover{
     border: #ca6c00 2px solid;
     color: #ca6c00;
     scale: 1.05;
}



@media all and (max-width: 1000px) {

     .ourStoryLink{
          width: 100%;
          display: flex;
          flex-flow: column;
     }
     .ourStoryLink div{
          width: 100%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          padding: 3rem;
     }
     div h2{
          font-family: 'clash-display-Regular';
          font-size: 4rem;
          text-align: center;
     }
     div p{
          font-family: 'clash-display-Regular';
          font-size: 2rem;
          text-align: center;
     }
     
     div img{
          height: auto;
          width: 100%;
     }

 }


.center {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-flow: column wrap;
}

h3{
     font-family: 'clash-display-Regular';
     font-size: 3rem;
}

/* ARTWORK SECTION */

.artworkLink{
     background-color: #E5DFD2;
     padding: 3rem 0;
}

.artworkLink div{
     display: flex;
     flex-flow: row wrap;
}

.artworkLink h2{
     width: 100%;
     text-align: center;
     color: black;
     padding: 0 8rem;
}

.col-1-3,
.col-2-3,
.col-3-3{
     width: 33%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 4rem;
}

.col-1-3 h3,
.col-2-3 h3,
.col-3-3 h3{
     font-size: 3rem;
     margin-bottom: 2rem;
}

.col-1-3 p,
.col-2-3 p,
.col-3-3 p{
     font-size: 2rem;
     text-align: center;
}

@media all and (max-width: 1000px) {
.col-1-3,
.col-2-3,
.col-3-3{
     width: 100%;
     padding: 0 8rem;
     margin: 1rem 5rem;
}
}

/* REVIEW SECTION */

.reviewLink{
     width: 100%;
     display: flex;
     flex-flow: row wrap;
}

#reviewHeader{
     width: 100%;
     flex: 0 1 100%;
     text-align: center;
}

.reviewLink div{
     width: 50%;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
     padding: 3rem;
     flex: 1 0 50%;
}

.reviewPhoto{
     
}

/* CONTACT SECTION */

.contactLink{
     padding: 3rem;
}

.contact {
     width: 80%;
     margin: 0 auto;
}

.submitButton {
     margin-top: 2rem;
     padding: 2rem 4rem;
     font-size: 1.5rem;
     /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

label {
     font-family: 'clash-display-Regular';
     display: block;
     margin: 1rem 0 0 0;
     font-size: 2rem;
}

textarea {
     width: 100%;
     height: 15rem;
     font-family: 'clash-display-Regular';
     font-size: 2rem;
     border: #ca6c00 3px solid;
     background: transparent;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
     font-family: 'clash-display-Regular';
     height: 4rem;
     font-size: 2rem;
     width: 100%;
     border: #ca6c00 3px solid;
     background: transparent;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* FOOTER */

footer {
     width: 100%;
     height: fit-content;
     padding: 1rem 0;
     background: transparent;
}

footer ul {
     width: 100%;
     display: flex;
     justify-content: center;
     list-style: none;
     padding: 0;
     gap: 1rem;
}

footer a {
     color: #153548;
     font-size: 2rem;
}

footer p {
     color: #153548;
     display: flex;
     justify-content: center;
}
